<div class="container" >
  <form class="form-signin">
    <img class="mb-4" src="" alt="DOCMGR" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <label for="userName" class="sr-only">Email address</label>
    <input type="text" id="userName" class="form-control" placeholder="Username" required autofocus>
    <label for="passWord" class="sr-only">Password</label>
    <input type="password" id="passWord" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
  </form>
</div>
